@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@font-face {
    font-family: 'Social Icons';
    src: url(../css/fontello-codes.css);
}

:root {
    --violet-color: hsl(257, 40%, 49%);
    --white-color: #FFFFFF;
    --soft-magneta-color: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--violet-color) url(../images/bg-mobile.svg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6rem auto;
    align-items: center;
    row-gap: 3rem;
    font-family: 'Open Sans', 'Social Icons', sans-serif;
}

.huddle-header {
    margin: 1.5rem 0 0 1.5rem;
}

.header__logo {
    height: 2.2rem;
}


/* container */

.register {
    display: grid;
    overflow: hidden;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    row-gap: 16px;
    text-align: center;
    width: max(50%, 375px);
    color: var(--white-color);
    padding: 0 3rem;
    font-weight: 400;
    margin: 0 auto;
}

.register__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* container elements */

.register__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.register__image>img {
    width: 100%;
}

.register__proceed {
    background-color: white;
    max-width: 65%;
    width: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 18px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 1s, background-color 1s;
    color: var(--violet-color);
    box-shadow: 5px 5px 5px 0px var(--violet-color)
}

.register__social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
}

.social__media {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 120%;
    padding: 2.5px;
    transition: 1s color;
}

.social__media i::before {
    font-size: 18px;
    color: white;
    transition: 1s color;
}


/* Media Queries */

@media only screen and (max-width: 375px) {
    .register {
        width: 100%
    }
}

@media only screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-areas: "header" "register";
        background: var(--violet-color) url(../images/bg-desktop.svg) no-repeat;
        background-size: cover;
    }
    .huddle-header {
        grid-area: header;
    }
    main {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .register {
        position: absolute;
        background: none;
        grid-area: register;
        grid-template-columns: auto 27rem;
        row-gap: 0;
        column-gap: 18px;
        width: 100%;
        /* grid-template-areas: "register-image register-details"
        "register-social"; */
    }
    .register__details {
        letter-spacing: 0.5px;
        grid-column: 2;
        align-self: center;
        align-items: flex-start;
    }
    .register__details .register__title {
        font-size: 2rem;
        text-align: left;
    }
    .register__proceed {
        min-width: initial;
        width: 30%;
        align-self: flex-start;
        padding: 0.5rem 2rem;
    }
    .register__description {
        text-align: initial;
        font-weight: normal;
    }
    .register__social {
        grid-column: 2;
        grid-row: 2;
        justify-content: flex-end;
        margin-top: 0;
        margin-right: 2rem;
    }
}


/* Element States */

.register .register__proceed:hover {
    background-color: var(--soft-magneta-color);
    color: white;
}

.social__media:hover,
.social__media:hover i::before {
    border-color: var(--soft-magneta-color);
    color: var(--soft-magneta-color);
}


/* Credits */

.huddle-footer {
    align-self: flex-end;
    justify-self: center;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.attribution a {
    text-decoration: underline;
    color: white;
    /* text-align: center; */
}